<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raushan.roomapps">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="com.raushan.roomapps.PsApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app__app_name"
        android:largeHeap="true"
        android:theme="@style/Base.PSTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name="com.raushan.roomapps.ui.item.itemfromfollower.ItemFromFollowerListActivity" />
        <activity android:name="com.raushan.roomapps.ui.location.LocationActivity" />
        <activity android:name="com.raushan.roomapps.ui.customcamera.setting.CameraSettingActivity" />
        <activity android:name="com.raushan.roomapps.ui.customcamera.CameraActivity" />
        <activity android:name="com.raushan.roomapps.ui.item.itemtype.SearchViewActivity" />
        <activity android:name="com.raushan.roomapps.ui.item.entry.ItemEntryActivity" />

        <!--<provider-->
        <!--android:name="androidx.core.content.FileProvider"-->
        <!--android:authorities="com.panaceasoft.psbuyandsell"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--&gt;-->

        <!--</meta-data>-->
        <!--</provider>-->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.raushan.roomapps.utils.CustomCachingGlideModule"
            android:value="AppGlideModule" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/global__accent" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.raushan.roomapps.ui.apploading.AppLoadingActivity"
            android:label="@string/app__app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <!--<intent-filter android:label="@string/app__app_name">-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->
            <!--&lt;!&ndash; Accepts URIs that begin with "http://www.example.com/gizmos” &ndash;&gt;-->
            <!--<data android:scheme="https"-->
            <!--android:host="www.google.com"-->
            <!--/>-->
            <!--&lt;!&ndash;android:pathPrefix="/messenger"&ndash;&gt;-->
            <!--&lt;!&ndash; note that the leading "/" is required for pathPrefix&ndash;&gt;-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.raushan.roomapps.MainActivity"
            android:label="@string/app__app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.raushan.roomapps.ui.item.rating.RatingListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.city.selectedcity.SelectedCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name="com.raushan.roomapps.ui.subcategory.SubCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.item.map.MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.item.detail.ItemActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme">

        </activity>

        <activity
            android:name="com.raushan.roomapps.ui.category.list.CategoryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.user.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.user.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.user.UserFBRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.user.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.user.UserForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.user.PasswordChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.item.search.specialfilterbyattributes.FilteringActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.notification.detail.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.notification.setting.NotificationSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.setting.appinfo.AppInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.item.favourite.FavouriteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <service android:name="com.raushan.roomapps.utils.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.raushan.roomapps.ui.notification.list.NotificationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.item.search.searchlist.SearchListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name="com.raushan.roomapps.ui.gallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.item.readmore.ReadMoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.gallery.detail.GalleryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.dashboard.DashboardSearchByCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.item.history.UserHistoryListActivity"
            android:label="@string/title__activity_user_history_list"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.item.loginUserItem.LoginUserItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.user.userlist.UserListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.user.verifyemail.VerifyEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.user.userlist.detail.UserDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name="com.raushan.roomapps.ui.blog.list.BlogListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.blog.detail.BlogDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.forceupdate.ForceUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name="com.raushan.roomapps.ui.item.map.mapFilter.MapFilteringActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.chat.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.chat.chatimage.ChatImageFullScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.raushan.roomapps.ui.privacypolicy.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.raushan.roomapps.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>